header {
  background-color: rgb(63 89 158);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  color: white;

  .pause {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 150px;
  }

  span {
    font-size: 20px;
  }
}

main {
  text-align: center;
  margin-top: 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.board {
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.35)
}

table {
  border: 6px solid black;
  border-collapse: separate;
  border-spacing: 0;
}

td {
  width: 3.5vw;
  height: 3.5vw;
  border: 1px solid black;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

td.active {
  border-width: 2px;
}

td.wrong {
  border-color: red !important;
  color: red;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  border: 2px solid lightgray;
}

button {
  display: block;
  background-color: hsl(209.08deg 100% 38.43%);
  color: white;
  font-size: 20px;
  padding: 8px;
  width: 40px;
  border: none;
  outline: none;
}

.btn span {
  font-size: 20px;
}

.menu {
  width: 300px;
  background-color: white;
  padding: 40px 30px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.35)
}

.heading {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.block {
  color: rgb(63 89 158);
  font-weight: bold;
  font-size: 30px;
  border: 2px solid lightgray;
  padding: 15px 0;
}

.game-ended {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 400px;
  background-color: white;
  height: 200px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
  align-items: center;
}