.App {
  text-align: center;
  display: flex;
  height: 100vh;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

table {
  border: 6px solid black;
  border-collapse: separate;
  border-spacing: 0;
}

td {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

td.active {
  border-width: 2px;
}

td.wrong {
  border-color: red !important;
  color: red;
}

/* 
td.active::after {
  content: '';
  top: -2px;
  left: -2px;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid slateblue;
} */

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  border: 2px solid lightgray;
}

button {
  display: block;
  background-color: hsl(209.08deg 100% 38.43%);
  color: white;
  font-size: 20px;
  padding: 8px;
  width: 40px;
  border: none;
  outline: none;
}

.btn span {
  font-size: 20px;
}